.content__form {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0004;
  backdrop-filter: blur(2px);
  z-index: 1000;
}

.hide-form {
  display: none;
}

form {
  position: relative;
  min-width: 320px;
  background-color: rgb(189, 184, 184);
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: auto;
  border-radius: 0.5em;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

form h2 {
  color: rgb(8, 42, 233, 0.658);
}

.handle__close {
  position: absolute;
  font-size: 1.4rem;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

form div {
  display: flex;
  flex-direction: column;
  width: 90%;
}

form div label {
  margin-bottom: 0.2em;
}

form div input {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  border-bottom: 3px rgba(8, 42, 233, 0.658) solid;
}

form div input:focus {
  border-bottom: 3px green solid;
}

form button {
  border: none;
  border-radius: 0.5em;
  padding: 0.7em 1em;
  background-color: rgba(8, 42, 233, 0.658);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 1s, transform 1s;
}

form button:hover {
  background-color: green;
  transform: scale(1.1);
}
